.headerTab .el-button{
    border-radius: 0;
}
.headerTab .el-button--mini, .el-button--small{
    border-radius: 0 !important;
}
.headerTab .el-tabs__header{
    margin: 0 !important;
}
.headerTab .el-button{
    border-radius: 0;
}
.headerTab .el-button--mini, .el-button--small{
    border-radius: 0 !important;
}
.headerTab .el-tabs__header{
    margin: 0 !important;
}
.headerTab .el-tabs__item {
    padding: 0 50px !important;
    border: none !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.headerTab .headerTab .el-tabs__item.is-active{
    border-bottom: 3px solid rgb(231,58,65) !important;
    color: rgb(231,58,65) !important;
}
.headerTab .el-tabs__item.is-active{
    border-bottom: 3px solid rgb(231,58,65) !important;
    color: rgb(231,58,65) !important;
}
.headerTab .el-tabs__item:hover{
    color: rgb(231,58,65) !important;
}
