.el-badge__content.is-fixed{
    top: 11px !important;
}
.el-breadcrumb .el-breadcrumb__separator{
    font-size: 20px;
    font-weight: 100;
}
.el-input__inner{
    border-radius: 20px !important;
}
